body {
    font-family: sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 35%, rgba(47, 69, 82, 1) 100%);
    color: white;
}

h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

img {
    width: 350px;
    height: 200px;
}

