body {
    font-family: sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 35%, rgba(47, 69, 82, 1) 100%);
    color: white;
}

section {
    padding-left: 1%;
    margin-right: 10%;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background: #0b2c39; 
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

nav p {
    display: inline-block;  
    padding-right: 30px;  
}

nav a, a:visited, a:active {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: grey
}

/* highlights current page in nav bar */
.current {
    text-decoration: underline;
}

h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10%;
  text-align: center;
}

img {
    width: 350px;
    height: 200px;
}

section a {
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}