body {
    font-family: sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 35%, rgba(47, 69, 82, 1) 100%);
    color: white;
}


nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background: #0b2c39; 
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

nav p {
    display: inline-block;  
    padding-right: 30px;  
}

h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

img {
    width: 350px;
    height: 200px;
}

a, a:visited, a:active {
    color: white
}

a:hover {
    color: grey
}
